@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html,
body {
    z-index: 0;
    background-color: #1E1E1E;
    color: white;
    font-family: 'Figtree','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

html,
body,
* {
    user-select: none;
}

.sidebar-container {
    display: flex;
    float: inline-start;
    z-index: 3;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 40vw;
    height: 100vh;
    background-color: #353535;
    border-right: 1px solid #505050;
}

.menubar-container {
    z-index: 10;
    position: fixed;
    display: flex;
    gap: 0.5em;
    width: 100vw;
    background-color: #353535;
    border-bottom: 2px solid #505050;
}

.dropdown-button-container {
    z-index: 100;
    position: relative;
    display: inline-block;
    min-width: fit-content;
}

.dropdown-content {
    z-index: 100;
    display: none;
    position: absolute;
    background-color: #353535;
    border: 1px solid #505050;
    border-radius: 3px;
    row-gap: 2px;
}

.dropdown-content .btn {
    width: 100%;
}

.btn {
    white-space: nowrap;
    background: none;
    border: none;
    color: #F5F5F5;
    border-radius: 5px;
    padding: 3px;
}

.btn:hover {
    background-color: #34a8eb;
    color: white;
}

.dropdown-button-container:hover .dropdown-content {
    z-index: 105;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    width: auto;
}

.work-space {
    display: flex; 
    height: 100vh;
}

.image-container {
    position: fixed;
    z-index: 1;
    display: flex;
    float: inline-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.image-inner {
    z-index: 1;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-height: 75vh;
}

#image-board {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.footer-main {
    display: flex;
    position: absolute;
    z-index: 5;
    background-color: #353535;
    border-top: 2px solid #505050;
    bottom: 0;
    height: 5vh;
    width: 100vw;
}

.footer-main > div {
    display: flex;
    width: 33.33vw;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.footer-main > div + div::after {
    content: "";
    background: gray;
    position: absolute;
    height: 50%;
    bottom: 25%;
    width: 1px;
}

.zoom-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    right: 1.5rem;
    width: auto;
}

.zoom-slider-container label {
    position: relative;
    left: 0;
    margin-left: 0.25rem;
    width: 25px;
    white-space: nowrap;
}

.zoom-slider {
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    outline: none;
    background: linear-gradient(to right, white 14%, white 14%, gray 14%);
}

.zoom-slider::-webkit-slider-runnable-track, .zoom-slider::-moz-range-track {
    background: transparent;
    height: 3px;
    border-radius: 2px;
}

.zoom-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

.zoom-slider::-moz-range-progress {
    height: 3px;
    background-color: white;
}

.zoom-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: black;
    border: 3px solid white;
    border-radius: 50%;
    cursor:pointer;
    margin-top: -6px;
}

.gallery-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1E1E1E;
}

.gallery-page-header {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 55px;
    background-color: #353535;
    border-bottom: 2px solid #505050;
    top: 0;
}

.gallery-page-header p {
    position: absolute;
    flex-shrink: 1;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.25em;
}

.image-display-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    height: 100vh;
    width: 100%;
    margin-top: 57px;
    gap: 1em 2em;
    overflow-y: scroll;
}

.gallery-page .image-display-container::-webkit-scrollbar {
    width: 15px;
    height: auto;
    background-color: none;
}

.gallery-page .image-display-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid gray;
    transition: background-color 0.2s ease-in-out;
}

.gallery-page .image-display-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

@supports (-moz-appearance: none) {
    .image-display-container {
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.10) transparent;
    }
}

.image-display {
    display: grid;
    justify-content: center;
    padding-top: 2.5em;
    height: fit-content;
}

.image-display img {
    scale: 1;
    border: 2px solid black;
    width: 360px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0.25rem 0.25rem 1.25rem 0.25rem black;
    transition: scale 0.2s ease-in-out;
}

.image-display img:hover {
    scale: 1.05;
    cursor: pointer;
}

.image-display p {
    height: fit-content;
}

.back-button-wrapper {
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    flex-shrink: 2;
    margin-left: 10px;
}

.back-button {
    filter: invert(100%) sepia(1%) saturate(1109%) hue-rotate(197deg) brightness(115%) contrast(100%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
    scale: 1;
    transition:
        opacity 0.2s ease-in-out,
        scale 0.2s ease-in-out;
}

.back-button:hover {
    opacity: 1;
    scale: 1.1;
    cursor: pointer;
}

.is-selected-wrapper {
    border-radius: 1em;
    background-color: rgba(200, 200, 200, 0.15);
    position: relative;
    padding: 1em 1em 0 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
    transition: scale 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
