html,
body {
    z-index: 0;
    background-color: #1E1E1E;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

html,
body,
* {
    user-select: none;
}

.sidebar-container {
    display: flex;
    float: inline-start;
    z-index: 3;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 40vw;
    height: 100vh;
    background-color: #353535;
    border-right: 1px solid #505050;
}

.menubar-container {
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: #353535;
    border-bottom: 2px solid #505050;

}

.view-dropdown {
    z-index: 100;
    position: relative;
    display: inline-block;
    min-width: fit-content;
}

.dropdown-content {
    z-index: 100;
    display: none;
    position: absolute;
    background-color: #353535;
    border: 1px solid #505050;
    border-radius: 3px;
    row-gap: 2px;
}

.dropdown-content .btn {
    width: 100%;
}

.btn {
    white-space: nowrap;
    background: none;
    border: none;
    color: #F5F5F5;
    border-radius: 5px;
    padding: 3px;
}

.btn:hover {
    background-color: #34a8eb;
    color: white;
}

.view-dropdown:hover .dropdown-content {
    z-index: 105;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    width: auto;
}

.work-space {
    display: flex; 
    height: 100vh;
}

.image-container {
    position: fixed;
    z-index: 1;
    display: flex;
    float: inline-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.image-inner {
    z-index: 1;
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* border: 1 solid yellow; */
    width: auto;
    height: 75vh;
    /* background-color: white; */
}

#image-board {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.footer-main {
    display: flex;
    position: absolute;
    z-index: 5;
    background-color: #353535;
    border-top: 2px solid #505050;
    bottom: 0;
    height: 5vh;
    width: 100vw;
}

.footer-main > div {
    display: flex;
    width: 33.33vw;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.footer-main > div + div::after {
    content: "";
    background: gray;
    position: absolute;
    height: 50%;
    bottom: 25%;
    width: 1px;
}

.zoom-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    right: 1.5rem;
    width: auto;
}

.zoom-slider-container label {
    position: relative;
    left: 0;
    margin-left: 0.25rem;
    width: 25px;
    white-space: nowrap;
}

.zoom-slider {
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    outline: none;
    background: linear-gradient(to right, white 14%, white 14%, gray 14%);
}

.zoom-slider::-webkit-slider-runnable-track, .zoom-slider::-moz-range-track {
    background: transparent;
    height: 3px;
    border-radius: 2px;
}

.zoom-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

.zoom-slider::-moz-range-progress {
    height: 3px;
    background-color: white;
}

.zoom-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: black;
    border: 3px solid white;
    border-radius: 50%;
    cursor:pointer;
    margin-top: -6px;
}