html,
body {
    z-index: 0;
    background-color: #1E1E1E;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

html,
body,
* {
    user-select: none;
}

.sidebar-container {
    display: flex;
    float: inline-start;
    z-index: 3;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 40vw;
    height: 95vh;
    background-color: #353535;
    border-right: 1px solid #505050;
}

.menubar-container {
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: #353535;
    border-bottom: 2px solid #505050;

}

.view-dropdown {
    z-index: 100;
    position: relative;
    display: inline-block;
    min-width: fit-content;
}

.dropdown-content {
    z-index: 100;
    display: none;
    position: absolute;
    background-color: #353535;
    border: 1px solid #505050;
    border-radius: 3px;
    row-gap: 2px;
}

.dropdown-content .btn {
    width: 100%;
}

.btn {
    white-space: nowrap;
    background: none;
    border: none;
    color: #F5F5F5;
    border-radius: 5px;
    padding: 3px;
}

.btn:hover {
    background-color: #34a8eb;
    color: white;
}

.view-dropdown:hover .dropdown-content {
    z-index: 105;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.work-space {
    display: flex;
}

.image-container {
    position: fixed;
    z-index: 1;
    display: flex;
    float: inline-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.image-inner {
    z-index: 1;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 1 solid yellow;
    width: auto;
    height: 75vh;
    /* background-color: white; */
}

.image-board {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.footer-main {

    display: flex;
    position: fixed;
    z-index: 5;
    background-color: #353535;
    border-top: 2px solid #505050;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    justify-items: auto;

}

.footer-main>div {
    display: flex;
    width: 33.33vw;
    border-left: 2 solid gray;
}

.footer-left .footer-mid .footer-right {
    display: inline-block;
    justify-content: center;
}

.zoom {

    align-self: middle;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 1.5vh;
    border: 1px dotted rgb(74, 66, 66);
}

.zoom>label {
    display: flex;
    margin: 0.5vh;
    position: relative;
    top: -1vh;
    right: 0.5vh;

}

.slider {
    border: 1 solid aqua;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 10px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 5px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}